fastapi
uvicorn[standard]
python-jose[cryptography]
passlib
python-dotenv
python-multipart
regex
PyPDF2
rich
google-generativeai
groq
numpy
sentence-transformers
torch
faiss-cpu
firebase-admin
matplotlib
seaborn
plotly
pandas
scikit-learn
